extends layout

block content
  #menu-main.ui.sidebar.right
  .brand.ui.fixed
      .ui.segment.fitted.teal.inverted
        .ui.center.aligned.grid
          .row.middle.aligned
            .six.wide.column.left.aligned
              h1 madtec         
            #menu-button.six.wide.column.right.aligned
              .ui.button.icon
                i.content.icon
  .pusher
    .front
      figure.front-img
             
           
    .content

